<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-inline">
            <div class="col-md-8" ng-hide="vm.isAuthenticated()">
                <label>Email address:</label>
                <input type="email" placeholder="your Email address" class="form-control" ng-model="vm.email"
                       ng-minlength=5 ng-maxlength=100 required/>
            </div>
            <div class="col-md-8" ng-show="vm.isAuthenticated()">
                <label>Email address:</label>
                <input type="email" class="form-control" ng-model="vm.email" disabled/>
            </div>
            <button class="btn btn-default" ng-click="vm.checkEmail()" style="float: right">valider</button>
        </form>
        <span class="alert-danger" ng-show="vm.invalid">Invalis Email !</span>
    </div>
</div>
