<div ng-cloak>
    <div class="alert-danger notification col-md-offset-6 col-md-5">
        <strong>Veuillez selectionner vos jours de d'absences SVP </strong>
    </div>
    <div class="row print">
        <div class="col-md-4" >
            Nom : <input type="text" class="form-control" ng-model="firstName"/>
            Prenom : <input type="text" class="form-control" ng-model="lastName"/>
            Email : <input type="email" class="form-control" value="{{vm.email}}" disabled/>
        </div>
        <div class="col-md-8">
            <calendar></calendar>

            <div class="panel panel-default" ng-show="vm.sharedValues.showDetail ">
                <div class="panel-heading"> <h4>Summary of {{vm.sharedValues.selectedMonth}}</h4> </div>
                <div class="panel-body">
                    <h4>
                        <span class="label label-success">Les jours travaillés</span>
                        <span class="badge">{{vm.sharedValues.workingDays}}</span>
                    </h4>
                    <h4>
                        <span class="label label-warning">Les jours d'absences</span>
                        <span class="badge">{{vm.sharedValues.notWorkingDays.length}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="home-buttons">
            <button class="btn btn-default btn-validate" ng-click="vm.showDetails()">valider</button>
            <button class="btn btn-default btn-save" ng-click="vm.printDocument()"ng-disabled="!vm.sharedValues.showDetail">Enregistrer</button>
        </div>
    </div>
</div>
